.task-menu {
    background-color: #71C49D;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 5px;
    outline: none;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 5px !important;



    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.task-container {

    margin: auto;
    width: 100%;
    margin-top: 25px;
    position: relative;


}


p {

    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding: 0 10px;
    color: black;

    flex: 1;
    margin-right: 10px;
}

.back-btn {
    background-color: #424442;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width: 10%;

    height: 35px;
    position: absolute;
    top: 0;
    left: 0;


}



.done {
    fill: #000000;
    background-color: #726f6f;
}

.done>p {
    color: #D5D5D5;
    text-decoration: line-through;
}



svg {
    padding: 0;
}


h1 {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.add-btn {
    display: block;
    margin: 0 auto;

    background-color: #58F9AF;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;


    padding: 5px;

    width: 10%;

    height: 35px;

}

.no-msg {
    color: #086613;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

span {
    color: red;
}