p {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 28px;
    margin-left: 20px;
}

span {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: brown;
    font-weight: bold;

}