<h2> Hello <span [innerHTML]="userNAME"></span></h2>
<a class="log-out" routerLink="/">logout</a>
<div class="page-container">

    
    <div class="column-one">
        <div class="centered-container">
            <h1>Upcoming Days</h1>
        
        
            <div class="list-item" *ngFor="let date of next7Days; index as i">
                <ng-container>
                    <h2>{{ date | date:'yyyy MMMM dd'}}</h2>
                    
                    <app-no-of-lists [showDate]="date" [userId]="userId" class="no-list-component">
        
                    </app-no-of-lists>                 
        
                    <div class="select-date">
                        <a routerLink="/lists" [queryParams]="{ date: date.toString(), userId: userId }">
                            <button class="show">Show</button>
                        </a>
                        <a routerLink="/add-list" [queryParams]="{ date: date.toString(), userId: userId }">
                            <button class="add">+ Add List</button>
                        </a>
                    </div>   
                   
                </ng-container>

                
            </div>
        
        
        
        </div>

    </div>
    <div class="column-two">
        <div class="list-container-main">
            <h1 class="list-hd">Lists</h1>
           
            <app-show-lists></app-show-lists>
        </div>

    </div>
</div>



