.list-menu {
    background-color: #71C49D ;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-size: 25px;	
	outline: none;
    padding: 1px 15px 1px 15px;
	
    width: 70%;
    margin: auto;
    margin-bottom: 10px;

    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

.list-container {
    
    margin: auto;
    width: 100%; 
    margin-top: 5px;     
   
   
}


p {
    
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: black;   
    padding: 0 10px;
    flex: 1;
}

.select {
    stroke: #159615 ;
}