.list-menu {
    background-color: #71C49D ;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-size: 25px;	
	outline: none;
    padding: 1px 15px 1px 15px;
	
    width: 70%;
    margin: auto;
    margin-bottom: 10px;

    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.list-container {
    
    margin: auto;
    width: 100%; 
    margin-top: 5px;     
   
   
}
span {
    color: red;
}


p {
    
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: black;   
    padding: 0 10px;
    flex: 1;
}

.select {
    stroke: #159615 ;
}



button {
    background-color: #424442;	
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width: 10%;
    
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
   
    
}

h1 {
    text-align: center;
    border-bottom: 2px solid #ddd;	
    margin-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .day-topic {
    color: #086613;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;   
  }