<!-- <p> {{selectedList.name}}</p>

<button (click)="onClickDelete()"> Remove Item </button>
<button> Mark As Completed </button>
 -->

 
<h1>Delete List </h1>
<button routerLink="/" class="back-btn"> < Back</button>

<div class="center-container">
	
	<div class="input-container">
        <p> All the assigned Tasks will be deleted !!!</p>
		<p> Do You really need to <span>DELETE</span> the List ?</p>
	</div>
	  

	  <div class="button-container">
		<button class="button button-1" routerLink="/">  Cancel </button>
		<button class="button button-2" (click)="onClickDelete()" > Confirm </button>
	  </div>
	
  </div>
  
